.title {
    color: #002868;
    font-family: 'Libre Baskerville', serif;
    font-size: 2.8vw;
    text-align: center;
}
.summary {
    font-family: 'Alegreya', serif;
    font-size: 2vw;
}
.visited {
    color: forestgreen;
}
.lived {
    color: mediumblue;
}
.number {
    font-size: 6vw;
    display: inline-block;
    line-height: 35px;
    height: 55px;
}
.chart-wrap {
    width: 55vw;
    margin: 0 auto;
}